#back {
    width: 38px;
    height: auto;
    margin: 0 0 20px 0;
    padding: 2px 3px 3px 3px;

    background-color:#2b8cee;
    border-radius: 15px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    text-align: center;
    font-size: 1.4em;
    color: white;

    cursor: pointer;
}

#back:hover {
    background-color: #1173d4;
}

h1, h2 {
    margin-bottom: 20px;
}

#add-one, #add-multiple {
    width: 10vw;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;

    padding: 6px;

    background-color: #2b8cee;
    color:white;
    text-shadow: 1px 1px 1px #0066cc;

    border-radius: 5px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    cursor: pointer;
}

#add-one:hover, #add-multiple:hover {
    background-color: #1173d4;
}

#user-first-name, #user-family-name, #user-email, #user-fn {
    margin: 7px 0 3px 0;
}

textarea{
    display: block;
    width: 50%;
}

.hidden {
    display: none;
}

#imported-user-list {
    margin-top: 20px;
    padding: 10px 15px;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.88em;
}

#success-one, #success-many {
    margin: 5px 0 15px 0;
    color: rgb(58, 184, 51);
}