.hidden {
    display: none;
}

hr {
    color: #d6d6d6;
    background-color: #d6d6d6;

    height: 2px;
    border-width: 0;
}

 /* -----------------------------------------------------
    Бутон за връщане назад 
  ------------------------------------------------------ */

#back {
    width: 38px;
    height: auto;
    margin: 0 0 20px 0;
    padding: 2px 3px 3px 3px;

    background-color:#2b8cee;
    border-radius: 15px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    text-align: center;
    font-size: 1.4em;
    color: white;

    cursor: pointer;
}

#back:hover {
    background-color: #1173d4;
}

 /* -----------------------------------------------------
    Заглавие на събитието 
  ------------------------------------------------------ */

h2 {
    margin-bottom: 20px;
}

 /* -----------------------------------------------------
    Бутон за показване на списък с присъствали студенти 
  ------------------------------------------------------ */

#show-attending {
    width: 20vw;
    text-align: center;

    margin: 20px 0 40px 0;
    padding: 6px;

    background-color: #2b8cee;
    color:white;
    text-shadow: 1px 1px 1px #0066cc;

    border-radius: 5px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    cursor: pointer;
}

#show-attending:hover {
    background-color: #1173d4;
}

 /* ----------------------------------------------
    Форма за добавяне на студент към събитието 
  ------------------------------------------------ */

#add-student-div {
    margin: 40px 0;
}

#add-student-div.hidden {
    display: none;
}

/* Надпис "Добавяне на студент" */
#add-student-title {
    margin: 20px 0;
    font-weight: bold;
}

#add-student-form {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items: flex-end;

    margin: 10px 0 40px 0;
}

/* Надписи "Име" и "ФН" */
#add-student-form .input-label {
    margin-bottom: 8px;
}

/* Полета за попълване на име и ФН */
#new-name, #new-fn {
    margin-right: 20px;
    width: 20vw;
    height: 5vh;
}

/* Бутон за добавяне на студент */
#add-student {
    width: 10vw;
    height: 6vh;
    text-align: center;

    background-color: #2b8cee;
    color:white;
    text-shadow: 1px 1px 1px #0066cc;

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;

    border-radius: 5px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    cursor: pointer;
}

#add-student:hover {
    background-color: #1173d4;
}

/* Съобщения за успех / грешка */
#add-student-error {
    color: rgb(206, 14, 33); 
    font-size: 1em; 
    margin-top: 6px;
}

#add-student-success {
    color: #00e68a; 
    font-size: 1em; 
    margin-top: 6px;
}

 /* ---------------------------------------------
    Списък с присъствали студенти
  ----------------------------------------------- */

#attendance-list {
    max-height: 200px;
    width: 60vw;
    overflow-y: auto;

    margin: 20px 0;
    padding: 16px 24px;
    border: 2px solid #043464;
    /* border: 2px solid #08c4c4; */
    border-radius: 4px;
    box-shadow: 0 0 6px 3px #e6e6e6;

    font-size: 0.88em;
    line-height: 1.4;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#attendance-list.hidden {
    display: none;
}

/* Div-че на студент в списъка */
.student-in-attendance-list {
    width: 50vw;
    padding: 10px 20px;
    margin: 5px 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-shadow: 0 0 4px 2px #e6e6e6;
    background-color: #e7fefe;
    border-radius: 5px;
    border: 2px solid #08c4c4;
    
    cursor: pointer;
}

/* Стил на студент, отбелязан като неприсъствал */
.not-present {
    background-color: #a6a6a6;
    border-color: #737373;
    text-decoration: line-through 0.8px;
}

/* Инструкция */
#remove-student-instruction {
    font-size: 0.9em;
    text-indent: 2em;
}

 /* ----------------------------------------------
    Ресурси 
  ------------------------------------------------ */

#resources-div {
    margin: 40px 0;
}

/* Заглавие на секция - "Ресурси", "Коментари" */
.section-title {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

/* Div-че за ресурс */
.resource {
    width: 65vw;
    padding: 10px 20px;
    margin: 15px 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    box-shadow: 0 0 6px 3px #e6e6e6;
    background-color: 	white;
    border-radius: 5px;
    
    cursor: pointer;
}

.resource:hover {
    background-color: #e7fefe;
}

.resource-icon {
    margin-right: 20px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* ---------------------------------------------
    Форма за добавяне на ресурс към събитието 
  ---------------------------------------------- */

#add-resource-div {
    margin-top: 60px;
}

/* Надпис "Добавяне на ресурс" */
#add-resource-title {
    margin: 20px 0;
    font-weight: bold;
}

#add-resource-form {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items: flex-end;

    margin: 10px 0 30px 0;
}

/* Надписи "Заглавие" и "URL" */
#add-resource-form .input-label {
    margin-bottom: 8px;
}

/* Полета за попълване на заглавие и url */
#new-resource-title, #new-resource-url, #new-resource-type {
    margin-right: 20px;
    width: 20vw;
    height: 5vh;
}

/* Бутон за добавяне на ресурс */
#add-resource {
    width: 10vw;
    height: 6vh;
    text-align: center;

    margin-right: 40px;

    background-color: #2b8cee;
    color:white;
    text-shadow: 1px 1px 1px #0066cc;

    border-radius: 5px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;

    cursor: pointer;
}

#add-resource:hover {
    background-color: #1173d4;
}

/* Съобщения за успех / грешка */
#add-resource-error {
    color: rgb(206, 14, 33); 
    font-size: 1em; 
    margin-top: 6px;
}

#add-resource-success {
    color: #00e68a; 
    font-size: 1em; 
    margin-top: 6px;
}

 /* -------------------------------------------
    Коментари 
   -------------------------------------------- */

.comment {
    padding: 15px 20px;
    margin: 12px 0;

    display: flex;
    flex-direction: column;
    border-radius: 5px;

    background-color: white;
    box-shadow: 0 0 6px 3px #e6e6e6;
}

.comment-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;

    padding-bottom: 6px;
    border-bottom: 2px solid #71b3f4;

    font-size: 0.96em;
    color: #094077;
}

.comment-data {
    font-size: 0.8em;
}

.comment-content {
    margin: 10px 15px 0 15px; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.88em;
}

#add-comment {
    width: 10vw;
    text-align: center;

    margin: 10px 0;
    padding: 6px;

    background-color: #2b8cee;
    color:white;
    text-shadow: 1px 1px 1px #0066cc;

    border-radius: 5px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    cursor: pointer;
}

#add-comment:hover {
    background-color: #1173d4;
}

#comment-text {
    margin-top: 20px;
    padding: 10px 15px;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.88em;
}