#events {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Използваме grid layout за контейнерите на събитията */
.event {
    width: 65vw;
    padding: 16px 1em 16px 2em;
    margin: 5px 10px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;

    box-shadow: 0 0 6px 3px #e6e6e6;
    
    cursor: pointer;
}

/* Подравняваме заглавията, датите и началните часове 
   на събитията в списъка */
.event-title {
    justify-self: start;
}

.event-date {
    justify-self: center;
}

.event-time {
    justify-self: end;
}

.lecture {
    background-color: #e7fefe;
    border-radius: 5px;
    border: 2px solid #08c4c4;
}

.lecture:hover {
    background-color: #b6fcfc;
}

.exercise {
    background-color: #e7feee;
    border-radius: 5px;
    border: 2px solid #00b339;
}

.exercise:hover {
    background-color: #b6fccb;
}

#add-event {
    width: 10vw;
    text-align: center;

    margin: 10px 10px;
    padding: 6px;

    background-color: #2b8cee;
    color:white;
    text-shadow: 1px 1px 1px #0066cc;

    border-radius: 5px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    cursor: pointer;
}

#add-event:hover {
    background-color: #1173d4;
}