#back {
    width: 38px;
    height: auto;
    margin: 0 0 20px 0;
    padding: 2px 3px 3px 3px;

    background-color:#2b8cee;
    border-radius: 15px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    text-align: center;
    font-size: 1.4em;
    color: white;

    cursor: pointer;
}

#back:hover {
    background-color: #1173d4;
}

h2 {
    margin-bottom: 20px;
}

#attendance-btns {
    width: 36vw;
    margin: 20px 0 40px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

#show-attending {
    width: 20vw;
    text-align: center;

    padding: 6px;

    background-color: #2b8cee;
    color:white;
    text-shadow: 1px 1px 1px #0066cc;

    border-radius: 5px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    cursor: pointer;
}

#show-attending:hover {
    background-color: #1173d4;
}

#add {
    width: 10vw;
    text-align: center;

    padding: 6px;

    background-color: #2b8cee;
    color:white;
    text-shadow: 1px 1px 1px #0066cc;

    border-radius: 5px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    cursor: pointer;
}

#add:hover {
    background-color: #1173d4;
}

#attendance-list {
    max-height: 200px;
    width: 60vw;
    overflow-y: auto;

    margin: 20px 0;
    padding: 16px 24px;
    border: 2px solid #1173d4;
    border-radius: 4px;
    box-shadow: 0 0 6px 3px #e6e6e6;

    font-size: 0.88em;
    line-height: 1.4;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hidden {
    display: none;
}

.section-title {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.resource {
    width: 65vw;
    padding: 10px 20px;
    margin: 15px 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    box-shadow: 0 0 6px 3px #e6e6e6;
    background-color: 	white;
    border-radius: 5px;
    
    cursor: pointer;
}

.resource:hover {
    background-color: #e7fefe;
}

.resource-icon {
    margin-right: 20px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#add-resource {
    width: 10vw;
    text-align: center;
    
    margin-right: 40px;
    padding: 6px;

    background-color: #2b8cee;
    color:white;
    text-shadow: 1px 1px 1px #0066cc;

    border-radius: 5px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    cursor: pointer;
}

#add-resource:hover {
    background-color: #1173d4;
}


.comment {
    padding: 15px 20px;
    margin: 12px 0;

    display: flex;
    flex-direction: column;
    border-radius: 5px;

    background-color: white;
    box-shadow: 0 0 6px 3px #e6e6e6;
}

.comment-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;

    padding-bottom: 6px;
    border-bottom: 2px solid #71b3f4;

    font-size: 0.96em;
    color: #094077;
}

.comment-data {
    font-size: 0.8em;
}

.comment-content {
    margin: 10px 15px 0 15px; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.88em;
}

#add-comment {
    width: 10vw;
    text-align: center;

    margin: 10px 0;
    padding: 6px;

    background-color: #2b8cee;
    color:white;
    text-shadow: 1px 1px 1px #0066cc;

    border-radius: 5px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    cursor: pointer;
}

#add-comment:hover {
    background-color: #1173d4;
}

#comment-text {
    margin-top: 20px;
    padding: 10px 15px;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.88em;
}