#back {
    width: 38px;
    height: auto;
    margin: 0 0 20px 0;
    padding: 2px 3px 3px 3px;

    background-color:#2b8cee;
    border-radius: 15px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    text-align: center;
    font-size: 1.4em;
    color: white;

    cursor: pointer;
}

#back:hover {
    background-color: #1173d4;
}

h2 {
    margin-bottom: 20px;
}


#add {
    width: 10vw;
    text-align: center;

    padding: 6px;
    margin: 15px 0;

    background-color: #2b8cee;
    color:white;
    text-shadow: 1px 1px 1px #0066cc;

    border-radius: 5px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    cursor: pointer;
}

#add:hover {
    background-color: #1173d4;
}

#event-theme, #event-info, #event-start-at, #event-end-at {
    margin: 7px 0 3px 0;
}

textarea{
    display: block;
}

#bbb-import {
    margin-top: 25px;
}

.hidden {
    display: none;
}

#imported-user-list {
    margin-top: 20px;
    padding: 10px 15px;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.88em;
}