* {
  margin: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
}

#nav-div {
    position: fixed;

    padding: 10px 10px;
    background-color: #71b3f4;

    height: 100vh;
    width: 12%;

    border-right: 2px solid #0d59a5;
}

nav {
    margin-top: 20vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    font-size: 1.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu-option {
    padding: 4px 8px;
    margin: 2px 2px;

    color: white;
    text-shadow: 1px 1px 1px #0066cc;
    text-align: center;

    background-color: #2b8cee;

    border-radius: 5px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 4px #5ea6ed;

    cursor: pointer;
}

.chosen {
    background-color: #0d59a5;
    border-color: #0b4d8e;
    color: white;
}

#right-side {
    margin-left: 12%; /* leave space for sidebar nav with fixed position*/

    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 12%; /* leave space for sidebar nav again because of fixed position*/
    right: 0;

    padding: 0 13px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #71b3f4;
    color: white; 
    height: 8vh;

    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-option {
    margin: 2px 10px;
    text-shadow: 2px 2px 3px #0066cc;
}

main {
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    margin-top: 8vh;
    margin-left: 2vw;
    padding: 40px;
}