* {
  margin: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
}

#nav-div {
    position: fixed;

    padding: 10px 10px;
    background-color: #71b3f4;

    height: 100vh;
    width: 12%;

    border-right: 2px solid #0d59a5;
}

nav {
    margin-top: 20vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    font-size: 1.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu-option {
    padding: 4px 8px;
    margin: 2px 2px;

    color: white;
    text-shadow: 1px 1px 1px #0066cc;
    text-align: center;

    background-color: #2b8cee;

    border-radius: 5px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 4px #5ea6ed;

    cursor: pointer;
}

.chosen {
    background-color: #0d59a5;
    border-color: #0b4d8e;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

#right-side {
    margin-left: 12%; /* leave space for sidebar nav */

    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 12%; /* leave space for sidebar nav again because of fixed pos*/
    right: 0;

    padding: 0 13px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #71b3f4;
    color: white; 
    height: 8vh;

    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-option {
    margin: 2px 10px;
    text-shadow: 2px 2px 3px #0066cc;
}

main {
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    margin-top: 8vh;
    padding: 40px;
}

#info-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#profile-pic {
    padding: 0 40px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#personal-info {
    line-height: 1.6;
}

h3 {
    font-size: 1.3em;
    color: #062647;
    margin-bottom: 6px;
    padding: 4px 4px;
}

#events {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.event {
    width: 65vw;
    padding: 10px 2px;
    margin: 10px 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    box-shadow: 0 0 6px 3px #e6e6e6;
    
    cursor: pointer;
}

.lecture {
    padding-left: 2.5em;
    background-color: #e7fefe;
    border-radius: 5px;
    border: 2px solid #08c4c4;
}

.lecture:hover {
    background-color: #b6fcfc;
}

.exercise {
    background-color: #e7feee;
    border-radius: 5px;
    border: 2px solid #00b339;
}

.exercise:hover {
    background-color: #b6fccb;
}

#back {
    width: 38px;
    height: auto;
    margin: 0 0 20px 0;
    padding-bottom: 3px;

    background-color:#71b3f4;
    border-radius: 10px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    text-align: center;
    font-size: 1.4em;
    color: white;

    cursor: pointer;
}

#back:hover {
    background-color: #4199f1;
}

h2 {
    margin-bottom: 20px;
}

#show-attending, #add {
    width: 20vw;
    text-align: center;

    margin: 40px 0;
    padding: 6px;

    background-color: #2b8cee;
    color:white;
    text-shadow: 1px 1px 1px #0066cc;

    border-radius: 5px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    cursor: pointer;
}

#show-attending:hover {
    background-color: #1173d4;
}

#attendance-btns {
    width: 60vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#attendance-list {
    max-height: 200px;
    width: 60vw;
    overflow-y: auto;

    margin: 20px 0;
    padding: 10px 16px;
    border: 2px solid #1173d4;
    border-radius: 4px;
}

.hidden {
    display: none;
}

#add-student, #add-event {
    width: 10vw;
    text-align: center;

    margin: 10px 10px;
    padding: 6px;

    background-color: #2b8cee;
    color:white;
    text-shadow: 1px 1px 1px #0066cc;

    border-radius: 5px;
    border: 2px solid #1173d4;
    box-shadow: 0 0 6px 3px #e6e6e6;

    cursor: pointer;
}

.student-page {
    width: 65vw;
    padding: 10px 20px;
    margin: 10px 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-shadow: 0 0 6px 3px #e6e6e6;
    background-color: 	#e7fefe;
    border-radius: 5px;
    border: 2px solid #08c4c4;
    
    cursor: pointer;
}

.student-page:hover {
    background-color: #b6fcfc;
}

.student-page {
    width: 65vw;
    padding: 10px 20px;
    margin: 10px 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-shadow: 0 0 6px 3px #e6e6e6;
    background-color: 	#e7fefe;
    border-radius: 5px;
    border: 2px solid #08c4c4;
    
    cursor: pointer;
}

.student-page:hover {
    background-color: #b6fcfc;
} 

.resource {
    width: 65vw;
    padding: 10px 20px;
    margin: 15px 10px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    box-shadow: 0 0 6px 3px #e6e6e6;
    background-color: 	#e7fefe;
    border-radius: 5px;
    border: 2px solid #08c4c4;
    
    cursor: pointer;
}

.resource:hover {
    background-color: #b6fcfc;
}

.resource-icon {
    margin-right: 20px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}